@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;900&family=Numans&display=swap");

:root {
  --fuentePrincipal: "Inter", sans-serif;
  --resaltado: #00c3ff;
  --primario: #d3d9f3;
  --navbar: #f3d3d3;
  --amarillo: #fda500;
  --fondo: #07070f;
  --azul-eléctrico: #1e90ff;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
  background-color: var(--fondo);
  color: var(--primario);
}

h1,
h2,
h3 {
  font-weight: 900;
}
h1 {
  font-size: 2rem;
  font-family: var(--fuenteLogo);
  color: var(--primario);
  font-weight: bold;
  margin: 2rem 0;
}
h2 {
  font-size: 1.8rem;
  margin: 2rem 0;
}
h3 {
  font-size: 1.6rem;
  margin: 1rem 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--navbar);
}
img {
  max-width: 100%;
  display: block;
}

/* //*GLOBAL UTILITIES */
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}
.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}
.justify-btw {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}
.justify-evn {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-top {
  align-items: flex-start;
}
.text-center {
  text-align: center;
}

.bg-primario {
  background-color: var(--primario);
}
.bg-secundario {
  background-color: var(--secondary);
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.m-0-auto {
  margin: 0 auto;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-primario {
  color: var(--primario);
}
.wdt-100 {
  width: 100%;
}
.hgt-100 {
  height: 100%;
}
.ovf-hidden {
  overflow: hidden;
}
.fst-italic {
  font-style: italic;
}
.obj-fit-cover {
  object-fit: cover;
}
/* //*SPECIFIC UTILITIES */
.text-justify {
  text-align: justify;
}
.position-sticky {
  position: sticky;
}

/* //*ROW */
.row section {
  position: static;
}

@media (min-width: 992px) {
  main {
      padding-top: 10rem;
  }

  .container .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .row .col-12 {
    box-sizing: border-box;
  }
  .row aside {
    width: 35rem;
    margin-left: 10rem;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .row section {
    position: absolute;
    right: 10rem;
    top: 0;
    overflow: auto;
  }
}


/* //*FIN ROW*/

/* //*ASIDE */

.make__happen span {
  color: var(--amarillo);
}
.redes__sociales2{
  gap:1rem;
}
/* //*FIN ASIDE */

/* //*SECTION */
.title{
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: var(--fondo);
  padding: 1rem 0;
  z-index: 500;
}
.portfolio{
  color: var(--resaltado)
}
.project h3 {
  color: var(--amarillo);
  margin: 2.5rem 0 0 0;
}
.project .see-project {
  color: var(--resaltado);
}
.project span {
  color: var(--resaltado);
  /* background-color: #00c3ff3d; */
  text-shadow: 2px 2px 4px #00c3ff;
  border-radius: 20px;
  margin-right: 1rem;
  font-size: 1.rem;
}

/* //*FIN SECTION */
