@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;900&family=Numans&display=swap");

:root {
  --primario: #575656 ;
  --amarillo: #fda500;
  --fuentePrincipal: "Inter", sans-serif;
  --rojo-brillante: #ff6b6b;
  --verde-llamativo: #77dd77;
  --amarillo-intenso: #ffd700;
  --azul-eléctrico: #1e90ff;
  --naranja-audaz: #ffa500;
  --otro: #282a36;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
  background: linear-gradient(
    to right,
    #333333 0 25%,
    var(--primario) 25% 100%
  );
  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
}
h1 {
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
}
h2 {
  font-size: 4.6rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

/* Backgroud */

/* CIRCULOS DEL BACKGROUND */
.circulosContenedor1 {
  top: 80px;
  right: 40px;
  width: 100px;
  height: 100px;
}
.circulosContenedor2 {
  bottom: 100px;
  right: 400px;
  width: 50px;
  height: 50px;
}
.circulosContenedor3 {
  top: 100px;
  right: 200px;
  width: 60px;
  height: 60px;
}
.circulosContenedor4 {
  top: 300px;
  right: 40px;
  width: 30px;
  height: 30px;
}
.circulosContenedor5 {
  bottom: 200px;
  left: 160px;
  width: 50px;
  height: 50px;
}
.circulosContenedor6 {
  bottom: 150px;
  right: 60px;
  width: 50px;
  height: 50px;
}
.circulosContenedor7 {
  bottom: 400px;
  left: 120px;
  width: 150px;
  height: 150px;
}
.circulosContenedor8 {
  top: 340px;
  right: 500px;
  width: 70px;
  height: 70px;
}
